@page "/Profile"
@using Microsoft.AspNetCore.Components
@using HttpClients.ClientInterfaces

@inject IUserService userClient
<h3>Profile</h3>

<div class="card">
    <div class="card-body">
        <p> <strong>Uuid: </strong>@uuid</p>
        <p ><strong>EMAIL: </strong> @Email</p>
        <p> <strong>FIRSTNAME: </strong>@firstName</p>
        <p> <strong>LASTNAME: </strong>@lastName</p>
        <p> <strong>FEE: </strong>@fee</p>
    </div>
</div>

@code {
    [Parameter]
    public string Email { get; set; }
    private string uuid;
    private string firstName;
    private string lastName;
    private double fee;
    
     protected override async Task OnInitializedAsync()
        {
            var user = await userClient.GetByIdAsync(Email);
            Email = user.Email;
            firstName = user.FirstName;
            lastName = user.LastName;
            uuid = user.Uuid;
            fee = user.Fee;
    
            // var ratingDto = await _ratingClient.GetRatingMeanBySubject(Email);
            // rating = ratingDto.Rating;
    
    
        }
        
    
}