@page "/MyPosts"
/@using System.Security.Claims
@using global::Domain.Models
@using Microsoft.AspNetCore.Components
@attribute [Authorize]
@* @inject IBookService postService; *@
@inject NavigationManager navMgr;

<h3>Posts</h3>
<div class="filter-bar">
    <div class="filters-container">
        <img src="image/@(doShowFilters ? "clear_" : "")funnel.png" class="funnel" @onclick="@(() => doShowFilters = !doShowFilters)" alt="Funnel"/>
        @if (doShowFilters)
        {
            <div class="filter">
                <label>Title contains:</label>
                <input type="text" @bind="titleContainsFilter"/>
            </div>
            <div>
                @if (!string.IsNullOrEmpty(msg))
                {
                    <label style="color: red">@msg</label>
                }
                
            </div>
        }
    </div>
</div>

<div>
    <button @onclick="LoadPosts">Load</button>
</div>

@if (posts == null)
{
}
else if (!posts.Any())
{
    <p>No Posts to display</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Post ID</th>
            <th>Owner</th>
            <th>Title</th>
            <th>Body</th>
            <th>Edit</th>
            <th>Delete?</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in posts)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Owner.UserName</td>
                <td>@item.Title</td>
                <td>@item.Body</td>
                <td>
                    <img src="image/edit.gif" class="funnel" @onclick="@(() => navMgr.NavigateTo($"/EditPost/{item.Id}"))"/>
                </td>
                <td>
                    <label @onclick="@(() => RemovePost(item.Id))" style="cursor:pointer; color: red; font-weight: bold">
                        &#x2717;
                    </label>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
@if (!string.IsNullOrEmpty(msg))
{
    <label style="color: red">@msg</label>
}

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; } = null!;

    AuthenticationState authState;
    ClaimsPrincipal user;

    private IEnumerable<Book>? posts;
    private string msg = "";
    private bool doShowFilters = false;

    private string? usernameFilter;
    private int? userIdFilter;
    private string? titleContainsFilter;
    private string? bodyContainsFilter;

    protected override async Task OnInitializedAsync()
    {
        authState = await AuthState;
            user = authState.User;
            await LoadPosts();
        
    }

    private async Task LoadPosts()
    {
        try
        {
            bool? completedFilterValue = null;
            posts = await postService.GetAsync(usernameFilter, userIdFilter, titleContainsFilter/*, bodyContainsFilter*/);
            
            
            
            var list = new List<Book>(posts!);
            list.RemoveAll(post => post.Owner.Id != int.Parse(user.FindFirst("Id").Value));
            list.Sort(CompareById);
            posts = list.AsEnumerable();
           
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
    
    private async Task RemovePost(int postId)
    {
        msg = "";
        try
        {
            await postService.DeleteAsync(postId);
        
            var list = new List<Book>(posts!);
            list.RemoveAll(post => post.Id == postId);
            posts = list.AsEnumerable();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
           
        }
    }
    
    private int CompareById(Book x, Book y)
    {
        if (x.Id > y.Id)
        {
            return 1;
        }
        else
        {
            return -1;
        }
    }
    
}